* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --fs-body: 14px;
  --fc-text: #1f1534;
  --fc-p: #7d7987;
  --fc-title: #272525;
  --green-0: #89c5cc;
  --green-1: #69b99d;
}

body {
  position: relative;

  min-height: 100vh;

  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(
    180deg,
    rgba(227, 255, 248, 0) 82.08%,
    rgba(227, 255, 248, 0.38) 100%
  );
}

.page {
  width: 1000px;

  margin: 0 auto;
  padding-top: 64px;
  font-size: var(--fs-body);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 55px;
}

ul {
  display: flex;
  justify-content: space-between;
  gap: 48px;

  list-style: none;
}

h1,
ul {
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
  line-height: 23px;
}

ul li a {
  text-decoration: none;
  color: var(--fc-text);

  opacity: 0.5;

  transition: 0.4s;
}

ul li a:hover {
  filter: brightness(0.5);
  font-weight: bold;

  opacity: 1;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
  color: var(--fc-title);
}

h1 span {
  color: var(--green-0);
  font-weight: bold;
}

section p {
  font-size: var(--fs-body);
  line-height: 28px;
  color: var(--fc-p);

  margin: 40px 0;
}

button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--green-1);

  text-transform: uppercase;

  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: var(--background);

  padding: 16px 32px;

  border-radius: 4px;
  border: none;

  cursor: pointer;

  transition: 0.3s;
}

button:hover {
  filter: brightness(1.1);
}

footer {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: var(--fs-body);
  line-height: 28px;
  color: var(--fc-title);

  text-align: center;

  margin-top: 80px;
}

footer a {
  font-weight: bold;
  text-decoration: none;
  color: var(--fc-title);
}

#balls {
  position: fixed;
  bottom: 12px;
  right: 12px;

  cursor: pointer;
}
